.code-text {
    font-family: "Courier New";
    font-size: 80%;
}

.code-block {
    font-family: "Courier New";
    background-color: lightgray;
}

.explanation-hero {
    background-color: rgb(230, 230, 230);
    border: black solid 2px;
    border-radius: 1rem;
}

.even-segment {
    background-color: rgb(230, 230, 230);
}

.odd-segment {
    background-color: rgb(176, 176, 176);
}